@using TesteTecnicoDiscord.Client.Helper
@inherits GuildsBase
@page "/Guilds"

<PageTitle>Servidores</PageTitle>

<div>
    <div class="bgimage">

        <MudAppBar Class="slide-in-bottom" Elevation="10" Color="Color.Transparent" Fixed="false" Dense="true">

            <MudSpacer/>

            <MudStack AlignItems="AlignItems.Center" Row="true">
                <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="_ => Help.ShowUserProfileDialog(DialogService)">
                    <MudText Color="Color.Tertiary">
                        <b>@Username</b>
                    </MudText>
                </MudButton>
                <MudIconButton OnClick="LogOutUser" Icon="@Icons.Material.Filled.Logout" Color="Color.Dark"/>
            </MudStack>

        </MudAppBar>

        <MudPaper Style="background: transparent" Class="d-flex align-center justify-center" Height="calc(60dvh - 48px)">
            <MudPaper Elevation="10" Width="70%" Class="fade-in d-flex rounded-lg align-center justify-center white-text py-8">
                <MudContainer MaxWidth="MaxWidth.Large">

                    <MudGrid Spacing="0">
                        <MudItem xs="12">
                            <MudGrid Spacing="0" Justify="Justify.Center">
                                <MudItem xs="12" sm="10" md="8">
                                    <MudStack Spacing="4">
                                        <MudText Align="Align.Center" Class="white-text signika-font-title" Typo="Typo.h4">
                                            <b>Servidores</b>
                                        </MudText>

                                        <MudText Align="Align.Center" Class="white-text signika-font-title">
                                            Descubra ou crie uma nova comunidade :)
                                        </MudText>

                                        <MudTextField T="string"
                                                      Margin="Margin.Dense"
                                                      Class="rounded-xl"
                                                      Placeholder="Procurar"
                                                      Variant="Variant.Outlined"
                                                      Adornment="Adornment.End"
                                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                                      AdornmentColor="Color.Tertiary"
                                                      Immediate="true"
                                                      ValueChanged="e => FilterGuilds(e)" />

                                        <MudButton Disabled="@Processing" Class="rounded-xl" OnClick="OnClickAddNewGuild" Size="Size.Large" Variant="Variant.Filled" Color="Color.Success">
                                            @if (Processing)
                                            {
                                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                                <MudText Class="ms-2">Processando</MudText>
                                            }
                                            else
                                            {
                                                <MudText>Criar novo servidor</MudText>
                                            }
                                        </MudButton>
                                    </MudStack>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            </MudPaper>
        </MudPaper>
    </div>

    <MudPaper Height="40dvh">
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudPaper Elevation="0" Width="100%" Height="100%" Class="fade-in pa-10 d-flex justify-center">
                    <MudGrid Spacing="3">

                        @if (FilteredGuilds is { Count: > 0 })
                        {
                            @foreach (var guild in FilteredGuilds)
                            {
                                <MudItem Class="fade-in" xs="4" sm="4" md="3">
                                    <MudGrid Spacing="2">
                                        <MudItem xs="12">
                                            <MudPaper Class="pa-1 d-flex align-center justify-center mud-theme-primary" Height="170px" Elevation="10">
                                                <MudBadge Color="Color.Success" Overlap="true" Bordered="true">
                                                    <MudAvatar Size="Size.Large" Rounded="true" Color="Color.Tertiary" Variant="Variant.Outlined">
                                                        <MudIcon Icon="@Icons.Material.Filled.Group"/>
                                                    </MudAvatar>
                                                </MudBadge>
                                            </MudPaper>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudPaper Height="100%" Class="pa-1" Elevation="10">
                                                <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" style="height: 100%;">

                                                    <MudStack>
                                                        <MudText Align="Align.Center" Typo="Typo.h6">
                                                            <b>@guild.Name</b>
                                                        </MudText>

                                                        <MudStack>
                                                            <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>@guild.MembersCount</b> membro(s)</MudText>
                                                            <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>@guild.MessagesCount</b> mensagem(s)</MudText>
                                                        </MudStack>
                                                    </MudStack>

                                                </MudStack>
                                            </MudPaper>
                                        </MudItem>
                                        <MudItem xs="12">
                                            <MudStack Justify="Justify.Center" Style="height: 100%">
                                                <MudButton OnClick="e => OnClickJoin(guild)" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Success">Entrar</MudButton>
                                                <MudButton OnClick="e => OnClickDelete(guild)" Size="Size.Large" Variant="Variant.Outlined" Color="Color.Error">Deletar</MudButton>
                                            </MudStack>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>