@inherits RegisterBase
@page "/register"
@using System.Globalization

<PageTitle>Register</PageTitle>

<div>
    <MudGrid Spacing="0">
        <MudItem xs="12">
            <MudPaper Elevation="0" Height="100dvh" Width="100%" Class="bgimage pa-3 d-flex align-center justify-center">
                <MudGrid Justify="Justify.Center" Spacing="0">
                    <MudItem xs="10" sm="8" md="4">
                        <EditForm Model="@UserDto" OnSubmit="HandleRegisterClickAsync">
                            <DataAnnotationsValidator></DataAnnotationsValidator>

                            <MudPaper Elevation="10" Class="d-flex rounded-lg align-center justify-center white-text pa-10">
                                <MudGrid Spacing="2">

                                    <MudItem xs="12">
                                        <MudText Typo="Typo.h6" Align="Align.Center">Criar uma conta</MudText>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText Color="Color.Secondary">E-mail</MudText>
                                            <MudTextField Margin="Margin.Dense"
                                                          @bind-Value="UserDto.Email"
                                                          T="string"
                                                          MaxLength="250"
                                                          Variant="Variant.Outlined">
                                            </MudTextField>
                                            <ValidationMessage For="@(() => UserDto.Email)"/>
                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText Color="Color.Secondary">Nome Exibido</MudText>
                                            <MudTextField Margin="Margin.Dense"
                                                          @bind-Value="UserDto.Name"
                                                          T="string"
                                                          MaxLength="100"
                                                          Variant="Variant.Outlined">
                                            </MudTextField>
                                            <ValidationMessage For="@(() => UserDto.Name)"/>
                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText Color="Color.Secondary">Nome de usuário</MudText>
                                            <MudTextField Margin="Margin.Dense"
                                                          @bind-Value="UserDto.Username"
                                                          T="string"
                                                          MaxLength="100"
                                                          Variant="Variant.Outlined">
                                            </MudTextField>
                                            <ValidationMessage For="@(() => UserDto.Username)"/>
                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText Color="Color.Secondary">Senha</MudText>
                                            <MudTextField Margin="Margin.Dense"
                                                          @bind-Value="UserDto.Password"
                                                          InputType="@PasswordInput"
                                                          Adornment="Adornment.End"
                                                          AdornmentIcon="@PasswordInputIcon"
                                                          OnAdornmentClick="ShowPassword"
                                                          T="string"
                                                          MaxLength="50"
                                                          Variant="Variant.Outlined">
                                            </MudTextField>
                                            <ValidationMessage For="@(() => UserDto.Password)"/>
                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText Color="Color.Secondary">Data de nascimento</MudText>

                                            <MudStack Row="true">
                                                <MudSelect Margin="Margin.Dense"
                                                           Placeholder="Dia"
                                                           T="string"
                                                           @bind-value="Day"
                                                           MaxLength="50"
                                                           Variant="Variant.Outlined">

                                                    @foreach (var item in Enumerable.Range(1, 31))
                                                    {
                                                        <MudSelectItem Value="@item.ToString()">@item.ToString()</MudSelectItem>
                                                    }
                                                </MudSelect>

                                                <MudSelect Margin="Margin.Dense"
                                                           Placeholder="Mês"
                                                           T="string"
                                                           @bind-value="Month"
                                                           MaxLength="50"
                                                           Variant="Variant.Outlined">

                                                    @foreach (var item in Enumerable.Range(1, 12))
                                                    {
                                                        <MudSelectItem Value="@item.ToString()">@DateTimeFormatInfo.CurrentInfo.GetMonthName(item)</MudSelectItem>
                                                    }
                                                </MudSelect>

                                                <MudSelect Margin="Margin.Dense"
                                                           Placeholder="Ano"
                                                           T="string"
                                                           @bind-value="Year"
                                                           MaxLength="50"
                                                           Variant="Variant.Outlined">

                                                    @foreach (var item in Enumerable.Range(1925, 100).Reverse())
                                                    {
                                                        <MudSelectItem Value="@item.ToString()">@item.ToString()</MudSelectItem>
                                                    }

                                                </MudSelect>
                                            </MudStack>

                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" Color="Color.Primary">Continuar</MudButton>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudLink OnClick="HandleLoginClickAsync">
                                            <MudText Align="Align.Start">Já tem uma conta?</MudText>
                                        </MudLink>
                                    </MudItem>

                                </MudGrid>
                            </MudPaper>
                        </EditForm>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>